<mat-card class="exemple-card">
    <mat-card-title>
        <h2 class="example-h2">Slider THEME</h2>
    </mat-card-title>
    <mat-card-content>
        <section class="example-section">
            <label>Color:</label>
            <mat-radio-group [(ngModel)]="color">
                <mat-radio-button class="example-margin" value="primary" color="primary">
                    Primary
                </mat-radio-button>
                <mat-radio-button class="example-margin" value="accent" color="accent">
                    Accent
                </mat-radio-button>
                <mat-radio-button class="example-margin" value="warn" color="warn">
                    Warn
                </mat-radio-button>
            </mat-radio-group>
        </section>
        <h2 class="example-h2">Check color</h2>

        <section class="example-section">
            <mat-slide-toggle
                    [color]="color"
                    class="example-margin">
                @if (themeService.theme$ | async; as theme) {
                Theme is {{ theme }} with color : {{ color }}
                }
            </mat-slide-toggle
            >
        </section>
    </mat-card-content>
</mat-card>
